/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
  font-family: 'Teko', sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
    font-size: 100%;
  	background: #fff;
}
body a,.grid_1,plan_1,plan_1.one,plan_1.two,i.icon1, i.icon2, i.icon3, i.icon4, i.icon5, i.icon6 {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"],.port-grid ,.text p,.text h3{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
   font-family: 'teko', sans-serif;
}	
p{
	margin:0;
	/*font-family: 'Raleway', sans-serif;*/
}
ul{
	margin:0;
	padding:0;
}
label{
	  margin: 0;
  font-size: 1em;
  color: #000;
  margin-bottom: 0.3em;
}
.header-top {
  padding: 1.6em 0;
      position: relative;
}
.logo {
  float: left;
  padding-top: 0.3em;
  width: 23%;
  height: 120%
}
.logo a{
	display:block;
}
.logo  a h1{
 color:#CFDC43;
 font-size:2.5em;
 font-weight:700;
 text-transform:uppercase;
}
.logo  a h1:hover{
 text-decoration:none;
}
.logo a h1 span {
    color: #333;
    font-size: 1.5em;
}
.h-right {
     float: right;
    width: 53%;
}
.working-hours{
     float: right;
    width: 49%;
    text-align: left;
}
.working-hours-label {
    font-size: 12px;
	  font-family: 'Montserrat', sans-serif;
	      color: #999;
}
.working-hours-time>span {
       font-size: 28px;
    height: 23px;
    font-weight: 400;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}
.working-hours-date {
    font-size: 12px;
    font-weight: 400;
	  font-family: 'Montserrat', sans-serif;
	      color: #999;
}
/*ceki*/
.slickwrapper img{
  max-height:100%;
  
}
/* DEMO ONLY **/
.card-info-box{
  position: absolute;
  display: block;
  bottom: 25%;
  background-color: rgba(44, 62, 80, 0.8);
  border-radius: 0 0.5rem 3rem 0;
  border-bottom: 0.3em solid #f89a22;
  color: white;
  padding: 1rem 2rem 1rem 3.5rem;
  min-width:30%;
  max-width: 45%;  
}
.card-info-box .btn{
   border-radius: 2rem;
}
/*cekico*/

.phone-number-number {
    font-size: 28px;
    color: #333;
    font-weight:700;
	  font-family: 'Montserrat', sans-serif;
}
.phone-number-label {
    font-size: 12px;
       color: #999;
    height: 20px;
    font-weight: 400;
	  font-family: 'Montserrat', sans-serif;
}
.phone-text {
    float: right;
    width: 71%;
    text-align: right;
}
.phone-ico {
        float: left;
    width: 24%;
    font-size: 45px;
    color: #333;
}
.icon-phone-1.phone-ico i {
    color: #333;
}
.quate {
    float: right;
	    margin-top: 1em;
}
.quate  a{
	    background: none;
    font-size: 16px;
    color:#CFDC43;
    padding: 10px 25px;
    text-decoration: none;
    border: 2px solid #CFDC43;
	font-family: 'Montserrat', sans-serif;
}
/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.quate  a:before {
	background:#CFDC43!important;
	color:#fff!important;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#fff;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  color:#fff;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color:#fff;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/*--start-h_menu--*/
.top-menu {
	    margin-top: 2.2em;
}
.top-menu ul li{
	display: inline-block;
	margin: 0 40px;
	color: #fff;
	font-weight: 700;
	vertical-align: top;
}
/* Effect 16: fall down */
.cl-effect-16 a {
	color: #6f8686;
	text-shadow: 0 0 1px rgba(111,134,134,0.3);
}
.cl-effect-16.ale{

font-size: 1.341rem

}




.cl-effect-16 a::before {
	color:#CFDC43;
	content: attr(data-hover);
	position: absolute;
	opacity: 0;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	-webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

.cl-effect-16 a:hover::before,
.cl-effect-16 a:focus::before {
	-webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	-moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	opacity: 1;
}
nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
}
nav a:hover,
nav a:focus {
	outline: none;
}
.top-menu ul li a{
  text-decoration: none;
  color:#333;
   font-size: 0.95em;
  font-weight:500;
  text-transform: uppercase;
  padding:0;
  background:none;
  margin: 0 auto;
/*  font-family: 'Raleway', sans-serif;*/
font-family: 'Teko', sans-serif;
}
.top-menu ul li a:hover,.top-menu ul li a.active{
	color:#CFDC43;
}
.top-menu {
 float: left;

margin-left: 23%;
}
/*--responsive--*/
@media (max-width:640px){
	span.menu{
	width: 35px;
	height: 35px;
    background: url(../images/nav.png)no-repeat 0px 0px;
	display: inline-block;
	float: left;
	cursor: pointer;
	  margin:25px 0 0 0;
	}
	.top-menu{
		width:100%;
		display: none;
		text-align:center;
		background:#fff;
		padding:0;
		margin-top:10px;
	}
	.span_2 {
	  margin-top: 2em;
	}
	.top-menu ul{
	  float: none;
	  width: 100%;
	  border: 1px solid #ddd;
	  padding: 0.3em 0 0.2em 0;
	}
	.top-menu ul li{
		display:block;
		float: none;
		margin:12px 0;
	}
}
/*--banner-bottom--*/
.banner{
    background: url(../images/bg.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:530px;
}
/*--header--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
     bottom: -58%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 80px;
  width: 40px;
  margin-top: 4%;
  display:none;
}
 .callbacks_nav:hover{
  	opacity: 0.5;
  }
.callbacks_nav.next {
  left: auto;
    background-position: right top;
   right: 300px;
 }
 .callbacks_nav.prev {
	right: auto;
	background-position:left top;
	 left: 300px;

}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs{
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    display: block;
   bottom: -14%;
    z-index: 0;
    right: -5%;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
      display: block;
    margin: 0.3em 0em;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height:12px;
    width:12px;
    display: inline-block;
    background:#333;
    border:3px solid #333;
	    border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
   background:#CFDC43;
    border:3px solid#CFDC43;
}
.banner-info {
     margin-top: 12em;
    text-align: center;
}
.banner-info h3 {
      font-size: 3em;
    font-weight: 700;
    color: #fff;
	    margin-bottom: 0.3em;
		    text-transform: uppercase;
}
.banner-info p {
    font-size: 1.1em;
    color:#fff;
    margin-top: 0.7em;
	font-weight: 500;
}
.banner-info span {
    color:#CFDC43;
	font-size:1.15em;
	font-weight: 500;
}
/*-- welcome --*/
.welcome,.welcome-bottom{
	padding:5em 0;
}
h3.tittle{
	font-size:2.5em;
	color:#222;
	margin:0;
	text-align:left;
	text-transform:uppercase;
	font-weight:900;
}
.welcome h3 span{
	color:#E8BB2E;
}
.welcome-grid h2{
	font-size:1.2em;
	color:#799f61;
	margin:0;
	line-height:1.5em;
	text-align:center;
}
.welcome-grid:nth-child(2){
	margin:7em 0 0;
}
.welcome-grid:nth-child(3){
	margin:10em 0 0;
}
.welcome-grid p{
	margin:1em 0 0;
	color:#777;
	line-height:1.9em;
	font-size:0.9em;
	text-align:center;
}
/*-- //welcome --*/
/*-- welcome-bottom --*/
.welcome-bottom-grids{
	margin:3em 0 0;
}
.welcome-bottom-grid-left{
	float:left;
	width:50%;
}
.welcome-bottom-grid-right{
	float:right;
	width:50%;
}
.welcome-bottom-grid-left-g{
	position:relative;
}
.welcome-bottom-grid-left-gpos{
	position:absolute;
	top:0%;
	left:0%;
	width:70%;
	padding: 1.5em 1.5em 2em;
    background: rgba(213, 33, 80, 0.65);
    text-align: center;
	    display: none;
}
.welcome-bottom-grid-left-gpos1{
	position:absolute;
	top:0%;
	right:0%;
	width:70%;
	padding: 1.5em 1.5em 2em;
    background: rgba(213, 33, 80, 0.65);
    text-align: center;
	    display: none;
}
.welcome-bottom-grid-left-gpos h4,.welcome-bottom-grid-left-gpos1 h4{
	font-size:1.9em;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
}
.welcome-bottom-grid-left-gpos p,.welcome-bottom-grid-left-gpos1 p{
	font-size: 0.9em;
    margin: 1em 0 2em;
    color: #fff;
    line-height: 1.8em;
}
.welcome-bottom-grid-right h5{
	font-size:1.5em;
	color:#E8BB2E;
	text-align:center;
	margin:1em 0 0;
	text-transform:capitalize;
}
.car-text h5{
    margin: 0em 0 0.5em 0;
    color: #CFDC43;
       font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 700;
	    text-align: left;
}
.car-text {
    padding: 2em 2em;
    text-align: left;
}
.car-text  p{
	font-size: 0.95em;
	color:#777;
	margin:0;
	line-height:1.9em;
}
/*-- //welcome-bottom --*/
/*-- start tabs --*/
.news {
    padding: 4em 0;

/*background-color: #f4f4f4;*/

border-top-style: outset;

width: 91%;

margin-left: 6%;
}
.news-top {
    margin-top: 3em;
}
.news-01{
  position:relative;
}
.item_info a h3{
    color: #fff;
    font-size: 1.8em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}
.item_info ul li {
    display: inline-block;
    font-size: 0.9em;
    margin-right: 10px;
    vertical-align: middle;
        color: #fff;
	list-style:none;
}
.item_info ul li a{
       color: #B5B0B0;
}
.item_info ul li a:hover,.item_info ul li i:hover,.item_info a h3:hover{
  color:#CFDC43;
  transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.item_info ul li i {
    color: #fff;
    margin-right: 10px;
}
.blog-text p,.single-text p {
    font-size: 0.9em;
    color: #777;
    line-height: 1.9em;
}
.item_info {
    border: 1px solid rgba(39, 39, 41, 0.65);
    padding: 2em 2em;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.54);
}
.item_info.two {
    border: 1px solid rgba(39, 39, 41, 0.65);
    padding: 2em 2em;
    position: absolute;
    bottom: 165px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.54);
}
p.s-para {
    font-size: 0.9em;
    color: #777;
    line-height: 1.9em;
    margin-top: 2em;
}
.resp-tabs-list,.resp-tabs-list1 {
	width: 100%;
	list-style: none;
	padding: 0;
	margin:0;
}
li.resp-tab-item.resp-tab-active{
  background: #076D90;
}
li.resp-tab-item1.resp-tab-active{
  background:none; !important;
  color:#333!important;
}
.resp-tab-item:first-child,.resp-tab-item1:first-child{
	border-left:none;
}

.resp-tab-item{
	 background: none;
	font-size: 17px;
	cursor: pointer;
	width: 30%;
	padding: 17px 0px;
	display: inline-block;
	margin: 0 0px 0 0;
	text-align: center;
	list-style: none;
	float: left;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-transform: uppercase;
}
.resp-tab-item1{
	background:#ffffff;
	cursor: pointer;
	padding: 5px 0px;
	display: inline-block;
	margin: 0 18px 0 0;
	text-align: center;
	list-style: none;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.resp-tab-item1 span{
	font-size:20px;
	color: #625548;
	font-weight: 700;
	padding: 0 25px;
}
.resp-tab-item span{
	font-size: 18px;
    color: #777;
    font-weight: 600;
}
.resp-tabs-container ,.resp-tabs-container1{
	padding: 0px;
	clear: left;
}
h2.resp-accordion,h2.resp-accordion1 {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content ,.resp-tab-content1{
	display: none;
}
.resp-content-active, .resp-accordion-active,.resp-content-active1, .resp-accordion-active1 {
   display: block;
}
h2.resp-accordion,h2.resp-accordion1 {
	font-size:1em;
	margin: 0px;
	padding: 10px 15px;
	background:#ffe71d;
	margin:10px 0;
	color:#30318b;
}
h2.resp-accordion:hover,h2.resp-accordion1:hover{
	background:#ffe71d;
	text-shadow: none;
	transition: .5s all;
	-webkit-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
	-moz-transition: .5s all;
}

.resp-tab-item:first-child,.resp-tab-item1:first-child  {
	border-left: none;
}
.resp-tab-active,.resp-tab-active1 {
	background: #ffffff;
}
.resp-tab-active span{
	color: #fff;
}
li.resp-tab-item1.resp-tab-active span{
	color:#333;
}
/*-- stop tabs --*/

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width:30%;
}
.resp-vtabs .resp-tabs-list li {
   display: block;
    padding: 1.96em 0px !important;
    margin: 0;
    cursor: pointer;
    float: none;
    width: 100%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    border: 1px solid #ddd;
}
li.resp-tab-item:hover {
        background-color:none;
    	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: none;
    float: left;
    width:70%;
    clear: none;
}
.news-01 img {
    width: 100%;
}
.resp-vtabs .resp-tab-content {
    border: none;
}
.resp-vtabs li.resp-tab-active {
    border: none;
    border-right: none;
       background-color: #CFDC43;
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
   
}
.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
    display: none;
}
h2.resp-tab-active span.resp-arrow {
	  /*  font-family: 'Raleway', sans-serif;*/
    font-family: 'Teko', sans-serif;
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}
/*--Accordion-styles--*/
h2.resp-tab-active {
    background:#08538c!important;
}
.resp-easy-accordion  h2.resp-accordion { 
        display: block;
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}
.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
}
/*--single--*/
.single-img p {
    color: #777;
    line-height: 1.9em;
	font-size:1em;
}
.blog-poast-info {
   background: #ea4c89;
  padding: 0.8em 1em;
  text-align: center;
}
.blog-poast-info ul li {
	display:inline-table;
	margin-right: 1em;
}
.blog-poast-info ul li{
	color: #FFF;
	font-size:0.8125em;
}
.blog-poast-info ul li a {
	color: #FFF;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.blog-poast-info ul li a:hover{
	text-decoration:none;
}
.blog-poast-info ul li a:hover {
	text-decoration:underline;
}
.single {
  text-align: left;
}
.leave h4,h4.tz-title-4.tzcolor-blue {
          font-size: 2.5em;
    color: #222;
    margin: 0;
    text-align:left;
    text-transform: uppercase;
    font-weight: 900;
}
.comment-box {
  padding: 2em 2em;
  border: 1px dashed #E64B50;
  text-align: center;
  margin-top:3em;
 }
 .comment-box h5 { 
   color:#E64B50;
    font-size: 1.3em;
 }
#commentform label {
   display: block;
  font-size: 1em;
  color: #777;
  font-weight: 400;
  margin: 0.5em 0
}
#commentform input[type="text"] {
  padding: 14px 15px;
  width: 100%;
  color: #555;
  font-size: 1em;
  border: 1px solid #eee;
  outline: none;
  display: block;
}
#commentform textarea {
	  padding: 13px 20px;
  width: 100%;
  color: #444;
  font-size: 0.85em;
  outline: none;
  height: 150px;
  display: block;
  resize: none;
  font-weight: 400;
  border: 1px solid #eee;
  background: #fff;
}
p.form-submit {
  margin: 2em 0;
}
#commentform input[type="submit"] {
  padding: 0.8em 3em;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-appearance: none;
  background:#CFDC43;
  outline: none;
  border: none;
}
#commentform input[type="submit"]:hover{
    background: #000;
}
span.m_14 {
     color: #222;
    font-weight: 400;
    text-transform: capitalize;
    font-size:0.9em;
}
.single_grid2 p {
	  color: #777;
	  font-size:0.9em;
	  line-height: 1.9em;    
	  margin-top: 0.5em;
  }
.title a{
      color:#CFDC43;
    font-size: 1.5em;
    font-weight: 400;
    text-transform: uppercase
 }
 ul.list li {
  list-style: none;
}
ul.list {
  padding-top: 2em;
}
.preview img {
  border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  width: 80%;
}
 h5.m_26 a{
     float: right;
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.7em 1em;
    display: inline-block;
    background: #000;
    margin: 0 auto;
    margin-top: 1em;
}
h5.m_26 a:hover{
  background:#CFDC43;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.single-us input[type="text"],.leave textarea,.leave input[type="submit"]{
	font-size: 1em;
	  width: 100%;
	padding: 0.8em 1em;
	margin: 0.5em 0;
	background: #fff;
	outline:none;
	border: 1px solid #362f2f;
	color: #362f2f;
	-webkit-appearance: none;
}
.leave textarea{
	resize:none;
	width: 100%;
	margin: 0.5em 0em;
	height: 185px;	
}
.leave input[type="submit"]{
	  border: none;
  outline: none;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  padding: 2px 0 0 1px;
  width: 120px;
  height: 45px;
  display: inline-block;
  background: #333;
  margin: 0 auto;
  margin:1em 0 2em 0;
  -webkit-appearance: none;
}
.leave input[type="submit"]:hover{
	  background:#D00030;
}
.leave p{
  width: 80%;
  line-height: 1.8em;
  color: #333;
  font-size: 0.9em;
}
.text-in{
	padding:0;
}
.single-grid {
	padding: 0.7em 0;
	  text-align: left;
}
.text-top{
	padding:0.5em 0;
}
.leave {
  padding: 2em 0 0em;
}
.top-comments {
	padding: 5em 0 0;
}
.md-col-in h4 {
	color: #362f2f;
	font-size: 1.5em;
	border-bottom: 1px solid #c29f00;
	font-weight: 600;
	width: 50%;
	padding: 0 10px 6px;
}
.md-col-in ul li{
	list-style:none;
}
.md-col-in ul{
	padding:1.8em 0 0;
}
.md-col-in ul li a{
	text-decoration:none;
	color:#362f2f;
	font-size:1.1em;
	padding: 0.1em 0;
	display: block;
}
.md-col-in ul li a:hover{
	color:#c3a000;
}
.md-col-in ul li i{
	background: url(../images/img-sprite.png)no-repeat -497px -20px;
	width: 8px;
	height: 8px;
	display: inline-block;
	transition: 0.5s all;
	vertical-align: middle;
	margin: 0 13px 0 0;
}
.single-img img {
    margin-bottom: 1em;
}
/*--gallery--*/
/*--car-bottom --*/
.car-bottom {
    background: url(../images/car-bottom.jpg)no-repeat ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:600px;
}
.car-bottom-right {
    float: right;
    padding: 0;
    margin-top: 9em;
}
.car-bottom-right h3 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 0.5em;
}
.car-bottom-right p {
    font-size: 0.95em;
    font-weight:500;
    color: #777;
    line-height: 1.9em;
    background-color: rgba(255, 255, 255, 0.82);
    padding: 1em;
    margin-top: 1em;
}
.morec1 {
    margin-top: 1.2em;
}
/* Bounce To Top */
.hvr-bounce-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
   padding: 0.6em 1em;
    border: 2px solid #CFDC43;
	color:#CFDC43;
}
.hvr-bounce-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#CFDC43;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
  color:#fff;
}
.hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.car-bottom-right h4{
font-size: 1.4em;
    color: #CFDC43;
    margin-top: 0.7em;
    font-weight: 500;
}
.car-bottom-right span{
    font-size: 1.5em;
    font-weight: 500;
	}
/*--about--*/
.banner.two {
    background: url(../images/bg.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:270px;
}
h2.second{
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
	padding-top: 3em;
}
.about {
    padding: 4em 0;
}
.ab-top-text h3 {
    font-size: 1.8em;
    color: #333;
    text-transform: uppercase;
    font-weight:700;
	margin-bottom: 0.5em;
}
.ab-top-text p{
    font-size: 0.95em;
    color: #777;
    margin: 0;
    line-height: 1.9em;
	    margin-bottom: 0.5em;
}
.ab-top-pic {
    padding-left: 0;
    margin-top: 94px;  
              
}
.services-grd{
    text-align: center;
       padding: 1.1em 1em;
    text-align: center;
    background-color: #191515;
}
.services-grd h4{
	font-size: 1.4em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
	line-height:1.6em;
}
.services-grd p{
	margin:1em 0;
	color:#fff;
	font-size:14px;
	line-height:1.8em;
}
.m-img img {
    text-align: center;
    margin: 5% auto 0;
}
.services-grid {
    padding-left: 0;
}
.ser-top {
    margin-top: 3em;
}
.services {
    padding: 4em 0;
    background-color: #f4f4f4;
}
/*--gallery--*/
.gallery {
    padding: 6em 0;
}
#gallery {
  padding: 5em 0;
}
#portfolio p {
  line-height: 1.8em;
  margin: 25px 0 0 0;
  font-size:1.1
  color: #ffffff;
  font-weight: 300;
}
.gallery-section h3{
   margin: 0;
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
}
.gallery-grid {
  padding: 0;
}
.gallery1 {
position:relative;
}
.gallery1 .textbox {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	-webkit-transform: scale(0);
	transform: scale(0);
     background-color:rgba(156, 167, 39, 0.62);
}
.gallery1:hover .textbox {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.gallery-grid img{
		width:100%;
}

.textbox {
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
text-align:center;
}
.textbox h4 {
     font-size: 2.5em;
     color: #fff;
     margin-top: 2em;
}
.textbox p {
    font-size: 18px !important;
    color: #fff;
    font-weight: 500 !important;
    margin: 4px 0 0 0!important;
}
.gallery-grids {
  margin-top: 50px;
}
/*--typography--*/
.typography,.single-sec {
    padding:5em 0;
}
.input-group {
    margin-bottom: 20px;
}
h3.typo{
    padding-bottom: .5em;
    font-size: 2em;
    color: #222!important;
	}
h2.second-tittle {
    margin-top: 2em;
    font-size: 3em;
    color: #fff;
    text-align: center;
}
.bs-example h2 {
  margin-bottom: 0;
  text-align: left;
}
.bs-example h2 {
  margin-bottom: 0;
  text-align: left;
}
.table h2 {
  font-size: 2.2em;
}
.grid_5 h2 {
  font-size: 2em;
  text-align: left;
  margin-bottom: 0;
}
.grid_5 h1, h2, h3, h4, h5, h6 {
  padding: 10px 0;
}
.grid_5 {
  margin: 31px 0;
}
.grid_3 h3 {
  padding-bottom: .5em;
     font-size:2em;
  color: #222;
}
.grid_4 h3 {
  color: #666161;
}
.page-header h1 {
  color: #222;
}
.first{
 margin-top:2em;
}
a#profile-tab {
  color: #777;
}
ul#myTab li a {
  padding: 1em 1em;
  color: #000;
}
div#profile p {
  line-height: 1.7em;
  margin: 1em 0;
  color:#777;
}
li.list-group-item1 {
    color: #777;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #777;
}
/*-- contact-page --*/
.contact {
  padding:0 0 4em 0;
}
.section-contact {
  padding: 4em 0;
}
.contact-main {
    margin-top: 2em;
}
.contact-form {
	margin-bottom: 3.5em;
    margin-top: 1em;
}
p.your-para {
    color:#CFDC43;
    font-size:0.9em;
    margin: 0 0 5px 0;
    font-weight:600;
    text-transform: uppercase;
}
.contact-grid input[type="text"], .contact-grid textarea {
  width: 100%;
  padding:0.8em;
  margin: 0 0 0.8em 0;

  background: #fff;
  outline: none;
  border: 1px solid #DADADA;
  -webkit-appearance: none;
}
.contact-grid textarea {
  resize: none;
  min-height: 220px;
}
.contact-in{
 padding-left:0;
}
.contact-in h5{
    color: #333;
    font-size: 1.4em;
    margin: 0px 0 10px 0;
    line-height: 1.7em;
    padding: 0;
}
p.para1{
 color: #777;
    font-size:1em;
    line-height: 1.9em;
}
address {
   width: 100%;
   color: #777;
  font-size:0.9em;
  line-height: 1.9em;
}
.contact-grid {
  padding-left: 0;
}
address  a {
 color: #777;
 font-size: 1em;
 line-height: 1.8em;
}
address  a:hover {
    color:#CFDC43;
}
.more-address b, strong{
       color:#CFDC43!important;
}
.more-address{
    padding: 1em 0;
} 
abbr[title], abbr[data-original-title] {
    cursor: help;
    border-bottom: none!important;
    color: #444;
}
.send input[type="submit"] {
       background: #333;
    outline: none;
    font-size: 1em;
    margin: 16px 0px;
    border: none;
    padding: 0.6em 2em;
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-transform: uppercase;
    -webkit-appearance: none;
}
.send input[type="submit"]:hover {
      background:#CFDC43;
}
h3.tittle.find {
    margin-bottom: 1em;
}
.map {
    padding-bottom: 4em;
	    margin-top: 1em;
}
.map iframe {
    height: 400px;
    border: none;
    width: 100%;
}
/*--footer--*/
.footer{
	padding: 3em 0 3em 0;
    background-color: #111;
}
h3.widget-title {
    color:#CFDC43;
    font-size: 1.1em;
    font-weight: 700;
	margin-bottom:0.5em;
	    text-transform: uppercase;
}
.footer-grid p i {
    color: #CFDC43;
    margin-right: 6px;
}
.footer-grid.second {
    text-align: right;
}
.footer-grid.lost p i {
    color: #CFDC43;
    margin-right:0;
	    margin-left: 3px;
}
.footer-grid p,.footer-grid p a{
	font-size:0.9em;
	line-height:1.8em;
	color:#fff;
}
.footer-grid p a{
  font-size:0.95em;
}
.footer-grid p a:hover{
  color:#CFDC43;
}
.footer-grid.lost{
text-align:right;
}
ul.menu-customer-service li {
    list-style: none;
    font-size: 0.9em;
    display: block;
}
ul.menu-customer-service li a{
    font-size:0.95em;
	line-height:1.8em;
	color:#fff;
}
/*--footer--*/
.copy {
    padding: 1em 0;
    text-align: center;
    background-color: #000;
}
.copy p {
  color:#fff;
  font-size:0.9em;
}
.copy p a {
   color:#CFDC43;
}
.copy p a:hover{
	 text-decoration: underline;
}
/*----top-move------*/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 40px;
  height: 22px;
  border: none;
  text-indent: 100%;
  background: url(../images/move-top.png) no-repeat 0px 0px;
}
/*--Responsive*--*/
@media (max-width:1440px){

}
@media (max-width:1366px){
	.banner {
		min-height: 506px;
	}
}
@media (max-width:1280px){
	.callbacks_tabs {
		bottom: -14%;
		z-index: 0;
		right: -3%;
	}
	.car-bottom {
		min-height: 524px;
	}
	.car-bottom-right {
		float: right;
		padding: 0;
		margin-top: 5em;
	}
	h3.tittle {
       font-size: 2.3em;
	}
	.car-text h5 {
       margin: 0em 0 0.5em 0;
       font-size: 1.6em;
	}
	
}
@media (max-width:1024px){
	.car-bottom {
		min-height: 431px;
	}
	.car-bottom-right {
		float: right;
		padding: 0;
		margin-top:2em;
	}
	.car-bottom-right h3 {
		font-size: 2.4em;
		color: #fff;
		margin-bottom: 0;
	}
	.banner {
		min-height: 418px;
	}
   .phone-number-number {
      font-size: 24px;
	}
	.banner-info {
      margin-top: 10em;
	}
	.resp-vtabs .resp-tabs-list li {
		display: block;
		padding: 1.48em 0px !important;
	}
	.services-grd h4 {
      font-size: 1.3em;
	}
	h3.widget-title {
    font-size: 0.9em;
	}
	.footer-grid p, .footer-grid p a {
      font-size: 0.85em;
	}
	.working-hours-time>span {
      font-size: 26px;
	}
	.phone-ico {
    float: left;
    width: 20%;
    font-size: 38px;
	}
	.banner.two {
		min-height: 200px;
	}
	.ab-top-text h3 {
		font-size: 1.6em;
		margin-bottom: 0.5em;
		padding: 0;
	}
	h2.second {
		font-size: 2.5em;
		padding-top: 2.2em;
	}
	.textbox h4 {
		font-size: 2.5em;
		margin-top: 1.5em;
	}
	.item_info.two {
		border: 1px solid rgba(39, 39, 41, 0.65);
		padding: 2em 2em;
		position: absolute;
		bottom: 191px;
		right: 0;
		background-color: rgba(0, 0, 0, 0.54);
	}
}
@media (max-width:991px){
	/*ceki2*/
   .card-info-box{
    position: relative;
    max-width:100%;
    padding: 2em;
    bottom: 0;
    background-color: rgb(44, 62, 80);
    border-radius:0;
    padding: 1rem;
  }
}
.slick-prev::before, .slick-next::before {
    font-size: 40px;
    color: #FF9800;
}
.slick-prev, .slick-next {
  z-index: 1;
  width: 40px;
  height: 40px;
}
.slick-next {
    right: 5px;
}
.slick-prev {
    left: 5px;
}

.slick-dots li.slick-active button:before {
      color: #FF9800;
  }
.slick-dots li button:before{
  font-size: 1rem;
}
.slick-dots{
  bottom: 10px !important;
}
/*ceki2*/

  .car-bottom {
		    min-height: 573px;
	}
/*	.footer-grid {
		width: 50%;
		float: left;
		padding: 0;
	}*/
	.phone-number-number {
		font-size: 18px;
	}
	.working-hours-time>span {
    font-size: 22px;
	}
	.banner {
		min-height: 313px;
	}
	.banner-info h3 {
    font-size: 2.5em;
	}
	.banner-info {
		margin-top: 6em;
	}
	.car-text h5 {
		margin: 0em 0 0.5em 0;
		font-size: 1.4em;
	}
	h3.tittle {
		font-size: 2.1em;
	}
	.item_info a h3 {
      font-size: 1.4em;
	}
	.resp-tab-item span {
       font-size: 15px;
	}
	.resp-vtabs .resp-tabs-list li {
		display: block;
		padding: 0.976em 0px !important;
	}
	.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background: none;
	}
	.news {
    padding: 4em 0;
	}
	.banner.two {
		min-height: 276px;
	}
	.item_info.two {
    border: 1px solid rgba(39, 39, 41, 0.65);
    padding: 2em 2em;
    position: absolute;
    bottom: 218px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.54);
	}
	.preview {
		padding: 0;
		float: left;
		width: 16%;
	}
	.data {
		float: right;
		width: 84%;
	}
	.typography, .single-sec {
		padding: 4em 0;
	}
}
@media (max-width:800px){
	.logo a h1 {
		color: #CFDC43;
		font-size: 2.3em;
	}
	.top-menu ul li {
      display: inline-block;
      margin: 0 10px;
	}
	.callbacks_tabs {
		bottom: -14%;
		z-index: 0;
		right: -1%;
	}
	.welcome-bottom-grids,.news-top {
		margin: 2em 0 0;
	}
	.welcome, .welcome-bottom {
		padding: 4em 0;
	}
	.ab-top-text {
		padding: 0;
		margin-top: 2em;
	}
	h2.second {
		font-size: 2.3em;
		padding-top: 1.7em;
	}
	.services-grid {
		padding-left: 0;
		padding: 0;
		float: left;
		width: 41%;
		margin: 2% 4%;
	}
	.ser-top {
		margin-top: 1em;
	}
	.gallery1 {
		position: relative;
		float: left;
		width: 33%;
	}
	.contact-main {
		margin-top: 0em;
	}
	.contact-in {
		padding-left: 0;
		padding: 0;
	}
	.contact-grid {
		padding-left: 0;
		padding: 0;
	}
	.leave h4, h4.tz-title-4.tzcolor-blue {
      font-size: 2em;
	}
}
@media (max-width:768px){
	h3.widget-title {
		font-size: 1.2em;
	}
		#gallery,.typography {
		padding: 4em 0;
	}
}
@media (max-width:736px){
.item_info.two {
    border: 1px solid rgba(39, 39, 41, 0.65);
    padding: 2em 2em;
    position: absolute;
    bottom: 245px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.54);
}
}
@media (max-width:667px){
	.car-text h5 {
		margin: 0em 0 0em 0;
		font-size: 1.2em;
	}
	.phone-number-number {
		font-size: 16px;
	}
	.item_info.two {
		border: 1px solid rgba(39, 39, 41, 0.65);
		padding: 2em 2em;
		position: absolute;
		bottom: 244px;
		right: 0;
		background-color: rgba(0, 0, 0, 0.54);
	}
}
@media (max-width:640px){
	.top-menu ul li {
		display: block;
		margin: 10px 0px;
	}
	.working-hours {
		float: left;
		width: 41%;
		text-align: left;
	}
	.working-hours.phone-number {
		width: 58%;
	}
	.phone-number-number {
		font-size: 18px;
	}
	.phone-ico {
		float: left;
		width: 26%;
		font-size: 32px;
		margin-left: 3%;
	}
	.banner-info h3 {
		font-size: 2.2em;
	}
	.banner {
		min-height: 271px;
	}
	.banner-info p {
		font-size: 1em;
		color: #fff;
		margin-top: 0;
	}
	.welcome-bottom-grid-left {
		float: left;
		width: 82%;
	}
	.welcome-bottom-grid-right {
		float: left;
		width: 82%;
	}
	.resp-vtabs ul.resp-tabs-list {
		float: left;
		width: 100%;
	}
	.resp-vtabs .resp-tabs-container {
		float: left;
		width: 100%;
		clear: none;
	}
	.gallery1 {
		position: relative;
		float: left;
		width: 50%;
	}
	.textbox h4 {
		font-size: 2em;
		margin-top:1.5em;
	}
	#gallery,.typography {
		padding: 4em 0;
	}
	.leave h4, h4.tz-title-4.tzcolor-blue {
    font-size:1.8em;
	}
	.item_info.two {
    border: 1px solid rgba(39, 39, 41, 0.65);
    padding: 2em 2em;
    position: absolute;
    bottom: 271px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.54);
}
}
@media (max-width:480px){
	.h-right {
		float: right;
		width: 100%;
		margin-top: 10px;
	}
	.header-top {
		padding: 0.4em 0 1.2em 0;
	}
	.banner-info h3 {
		font-size: 1.6em;
	}
	.banner {
		min-height: 221px;
	}
	.banner-info {
		margin-top: 4em;
	}
	.callbacks_tabs li {
		display: block;
		margin: 0.0em 0em;
	}
	.callbacks_tabs a:after {
		display: block;
		height: 10px;
		width: 10px;
	}
	.car-text {
      padding: 1em 0em;
	}
	.item_info {
       border: 1px solid rgba(39, 39, 41, 0.65);
       padding: 1em 2em;
	}
	.banner.two {
		min-height: 113px;
	}
	h2.second {
		font-size: 1.8em;
		padding-top: 1.6em;
	}
	.services-grid {
		padding-left: 0;
		padding: 0;
		float: left;
		width: 47%;
		margin: 1% 1%;
	}
	.textbox h4 {
		font-size: 2em;
		margin-top:0.9em;
	}
	.footer-grid {
		width: 100%;
		float: left;
		padding: 0;
	}
	.section-contact,#gallery,.about,.typography {
		padding: 3em 0;
	}
	.map iframe {
    height: 300px;
	}
	.welcome, .welcome-bottom {
		padding: 3em 0;
	}
	.footer {
    padding: 1.5em 0 1.5em 0;
	}
	.copy p {
		font-size: 0.85em;
		line-height: 1.8em;
	}
	.item_info.two {
		border: 1px solid rgba(39, 39, 41, 0.65);
		padding: 1em 1em;
		position: absolute;
		bottom:352px;
		right: 0;
		background-color: rgba(0, 0, 0, 0.54);
	}
	.leave h4, h4.tz-title-4.tzcolor-blue {
    font-size:1.6em;
	}
	.typography, .single-sec {
		padding: 3em 0;
	}
}
@media (max-width:414px){
	.welcome-bottom-grids, .news-top {
		margin: 1em 0 0;
	}
	.item_info.two {
		border: 1px solid rgba(39, 39, 41, 0.65);
		padding: 1em 1em;
		position: absolute;
		bottom: 432px;
		right: 0;
		background-color: rgba(0, 0, 0, 0.54);
	}
}
@media (max-width:384px){
    h3.tittle {
		font-size: 2em;
	}
	.item_info a h3 {
		font-size: 1em;
	}
	.item_info {
		border: 1px solid rgba(39, 39, 41, 0.65);
		padding: 0.5em 1em;
	}
	.item_info ul li {
    display: inline-block;
    font-size: 0.9em;
    margin-right: 1px;
	}
	.car-bottom-right h3 {
		font-size: 2em;
		margin-bottom: 0;
		padding: 0;
	}
	.car-bottom-right p {
		font-size: 0.85em;
		background-color: rgba(255, 255, 255, 0.82);
		padding: 0.5em;
		margin-top: 0em;
	}
    .contact-in h5 {
		font-size: 1.3em;
	}
	.map {
    padding-bottom: 3em;
    margin-top: 1em;
	}
		.gallery1 {
		position: relative;
		float: left;
		width: 100%;
	}
	.textbox h4 {
    font-size: 2em;
    margin-top: 1.3em;
	}
	.map iframe {
		height: 200px;
	}
	.section-contact, #gallery, .about, .typography {
		padding: 2em 0;
	}
	p.para1{
	  font-size:0.85em;
	}
	.contact-in h5 {
		font-size: 1.2em;
	}
	.leave h4, h4.tz-title-4.tzcolor-blue {
    font-size:1.4em;
	}
	p.s-para {
		font-size: 0.85em;
		margin-top: 1em;
	}
	.item_info.two {
		border: 1px solid rgba(39, 39, 41, 0.65);
		padding: 1em 1em;
		position: absolute;
		bottom: 388px;
		right: 0;
		background-color: rgba(0, 0, 0, 0.54);
	}
	.title a {
		font-size: 1.2em;
		text-transform: uppercase;
	}
	.typography, .single-sec {
		padding: 2em 0;
	}
	.single_grid2 p {
      font-size: 0.85em;
	}
}
@media (max-width:375px){
    .header-top {
      padding: 0.4em 0 1.2em 0;
	}
	h3.tittle {
		font-size: 2em;
	}
	.car-text p,.ab-top-text p {
      font-size: 0.85em;
	}
	.ab-top-text h3 {
		font-size: 1.3em;
		margin-bottom: 0.5em;
		padding: 0;
	}
	.services-grid {
		padding-left: 0;
		padding: 0;
		float: left;
		width: 100%;
		margin: 1% 1%;
	}
	.services {
		padding: 2em 0;
		}
		.banner.two {
		min-height: 82px;
	}
	h2.second {
		font-size: 1.6em;
		padding-top: 1.2em;
	}
	.services-grd h4 {
		font-size: 1.2em;
	}
	.preview img {
		width: 100%;
	}
	#commentform input[type="submit"] {
    padding: 0.7em 2em;
    font-size: 0.9em;
	}
}
@media (max-width:320px){
	.working-hours {
		float: left;
		width: 100%;
		text-align: center;
	}
	.working-hours.phone-number {
		width: 100%;
		margin-top: 12px;
	}
	.quate a {
    background: none;
    font-size: 14px;
    padding: 8px 23px;
	}
	span.menu {
		width: 35px;
		height: 35px;
		background: url(../images/nav.png)no-repeat 0px 0px;
		display: inline-block;
		float: left;
		cursor: pointer;
		margin: 22px 0 0 0;
	}
	.top-menu ul li a {
      font-size: 0.9em;
	}
	.banner-info h3 {
		font-size: 1.2em;
		padding:0;
	}
	.banner-info p {
     font-size: 0.8em;
	}
	.banner {
		min-height: 137px;
	}
	.logo a h1 {
		font-size: 2em;
	}
	.banner-info {
		margin-top: 3em;
	}
	.welcome, .welcome-bottom {
		padding: 2em 0;
	}
	h3.tittle {
		font-size: 1.7em;
	}
	.welcome-bottom-grid-left {
		float: left;
		width: 100%;
	}
	.welcome-bottom-grid-right {
		float: left;
		width: 100%;
	}
	.car-bottom-right span {
      font-size: 1.1em;
	}
	.car-bottom-right h3 {
		font-size: 1.6em;
		margin-bottom: 0;
		padding: 0;
	}
	.car-bottom-right h4 {
		font-size: 1.3em;
		margin-top: 0;
	}
	.hvr-bounce-to-top {
      padding: 0.4em 1em;
	}
	.car-bottom {
		min-height: 379px;
	}
	.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
		border: 1px solid #ddd;
		padding: 0 5px!important;
	}
	.gallery1 {
		position: relative;
		float: left;
		width: 100%;
	}
	.textbox h4 {
		font-size: 2em;
		margin-top: 1.3em;
	}
	.item_info.two {
		border: 1px solid rgba(39, 39, 41, 0.65);
		padding: 0.3em 0.3em;
		position: absolute;
		bottom: 488px;
		right: 0;
		background-color: rgba(0, 0, 0, 0.54);
	}
	.item_info a h3 {
		font-size: 1em;
		margin: 0;
	}
	.item_info ul li {
    display: inline-block;
    font-size: 0.8em;
	}
	.contact-in h5 {
		font-size: 1em;
	}
}